.app-page{
left: 0;
    right: 0;
    top: 0;
    position: absolute;
}

.pageModal .app-content{
    border:10px solid #ccc;
}

.app-page .app-content{
        position: relative;
}


nav{
    box-shadow: none;
    height:112px;
}

.defaultBg{
    background: #fff;
}

nav .nav-wrapper{
        padding: 0 8px;
            height: 56px;
        border-bottom: 2px solid #ccc;
    background-color: #FBFBFB;
}

#mobileSideNavButton{
        color: #000;
}

nav .nav-lower-wrapper{
    height: 56px;
    background: #fff;
    font-size: 18px;
    font-weight: bold;
        border-bottom: 1px solid #ccc;
}

nav .logo{
           height: 50px;
}

.app-topbar{
     top: 0;
    left: 0;
    width: 100%;
    height: 112px;
    pointer-events: none;
    z-index: -1;
    position: relative;
}

.panel{
    border-radius:  4px;
    margin:20px;
    padding:20px;
    border:#ccc;
    background-color:#fff;
}

.homeCard img{
            margin: auto;
            max-width:  150px;
}

.homeCard .card-image a{
    position: relative;
    display: block;
    padding: 20px;
}

.uploadImageCard .card-image{
        padding-top: 15px;
}

.uploadImageCard .card-image img{
    max-width: 150px;
    margin: auto;
}

#profilePic {
    position: fixed;
    top: -1000px;
}

#cropperH{
padding: 20px 0;
height: 372px; 
}

.back_button{
    color: #000;
    padding: 0 1em;
        height: 56px;
    float: left;
}

#navbarTitle{
        display: inline-block;
    float: right;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
        padding: 0 1em;
}

#navbarTitle span{
    color:#AB0A00;
}

.back_button i
{
display: inline-block !important;
    font-size: 56px !important;
    line-height: 1 !important;
    margin-left: -20px;
    margin-right: -12px;
}

.back_button span{
        line-height: 59px;
    vertical-align: top;
}

.userDetailBackground{
    background: #E3D6C6;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.userDetail .upperHalf{
      height: 312px;
        background: #CEBDA8;
    position: relative;
    float: left;
    width: 100%;
}
.userDetail .lowerHalf{
}
.userDetail .imgContainer{
       width: 100%;
}
.userDetail .imgContainer .changePicButtonContainer{
        width: 167px;
    border-radius: 50%;
    padding: 8px;
    position: relative;
        margin: 20px auto;
        background: #fff;
}

.userDetail .changePicButton{
        display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
        border: 1px solid #ccc;
}

.userDetail .changePicButtonContainer label{
    border: none;
    border-radius: 50%;
    padding: 0px 9px 3px 9px;
    margin: 2px;
    background: RGBA(255, 255, 255, 0.56);
    display: inline-block;
    font-size: 35px;
    font-weight: 700;
    margin-left: 31px;
    margin-top: -35px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    position: absolute;
    right: 0;
    height: 40px;
    line-height: 1.1;
    height: 40px;
    width: 40px;
    background: #fff;
    color: #ccc;
}

.userDetail .changePicButton img{
        width: 100%;
}

.userDetail .upperHalf{
    font-weight: bold;
    font-family: 'Work Sans';
}

.userDetail .upperHalf .userDetailActions{
       text-align: center;
}

.userDetail .upperHalf h6{
            text-align: center;
    font-size: 22px;
}

.userDetail .upperHalf .userDetailActions .app-button,
.userDetail .upperHalf .userDetailActions #messageUser{
    color:#fff;
   font-size: 18px;
}

.userDetail .actionButton{
    padding: 8px 20px;
    color: #ccc !important;
    background: #fff;
    border-radius: 1em;
    line-height: 66px;
}


.userDetail .upperHalf .userDetailActions .app-button .icon,
.userDetail .upperHalf .userDetailActions #messageUser .icon{
        font-size: 45px;
    vertical-align: middle;
    padding-right: 4px;
}

.listFav{
        padding: 1em;
}
.listFav .favTitle{
    margin:0;
    margin-bottom:4px;
}

.listFav ul{
        margin: 0;
}

.listFav ul li {
    padding: 0 !important;
}
.listFav ul li img{
        width: 100%;
    padding-right: 10%;
}

.friendList{

}

.friendList li{
    text-align: center;
    position: relative;
}
.friendList li img{
    width:110px;
    height:110px;
        margin: auto;
    display: block;
        border-radius: 6px;
   
}

.friendList .user_online_status{
        position: absolute;
    width: 22px;
    height: 22px;
    background: green;
    border-radius: 50%;
    border: 2px solid #e3e3e3;
    z-index: 1;
        right: -2px;
    top: -10px;

  }

  .friendList .user_online_status.offline {
    background-color: #D6D5D4;
}

.messageList{
    margin:0;
}
.messageList li{
    position: relative;
    overflow: hidden;
    padding: 1em 0;
    display: block;
    margin: 0 20px 0 1em;

}

.messageList li:not(:last-child){
        border-bottom: 1px solid #ccc;
}

.messageList li img{
        width: 70px;
    height: 70px;
    float: left;
}

.messageList li .msgContent{
    position: relative;
    left: 0;
    right: 0;
    margin-left: 80px;

}

.messageList li .msgContent .info h6{
        display: inline;
        font-size: 13px;
    font-weight: 600;
    color: #060606;
    font-family: 'Roboto';
    margin: 0;
}

.messageList li .msgContent .info span.timestamp{
        float: right;
        color: #F7C0C1;
}

.messageList li .msgContent p{
    height: 46px;
    overflow: hidden;
    padding-right: 4em;
    text-align: justify;

        font-family: Roboto;
    font-weight: 300;
    color: #726F6F;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
}

#yourFriendSorting{

}

#yourFriendSorting li{
        display: inline-block;
}

#yourFriendSorting li div{
        color: #000;
    padding: 8px 14px;
        border-radius: 5px;
}

#yourFriendSorting li div.active{
        background: #F7E3E4;
}

#yourFriendSorting li div .countOnline{
    color:#36A719;
}
#yourFriendSorting li div .countOffline
{
    color:#D0CBC8;
}

.friendList li .userName{
    font-weight: bold;
}

.pageLoading{
    position: absolute;
    z-index: 997;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background: #fff;
    float: left;
}

.pageLoading .preloaderContainer{
        margin: auto;
}
.pageLoading .preloaderContainer .preloader-wrapper{
        display: block;
    margin: auto;
    margin-top: 50%;
}

.chatBox{
    padding-bottom: 10px;
}

.chatBox .body{
           background: #EDEDED;
       position: relative;
        height: 400px;
    width: 100%;
    margin: auto;
    padding: 1em 0;
    overflow-y: scroll;
}

.chatBox ul{
        margin: 0;
            display: block;
    float: left;
}
.chatBox ul li{
        display: block;
    width: 100%;
    float: left;
        margin-top: 10px;
}
.chatBox ul li img{
        width: 33px;
    border-radius: 50%;
    float: left;
    margin-right: 14px;
    margin-left: 15px;
    margin-bottom: -85px;
}

.chatBox ul li span{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    text-align: left;
    font-size: 14px;
    padding: 10px 20px;
    margin-right: 20px;
    font-weight: 500;
    margin-left: 61px;
    margin-top: 0;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    line-height: 18px;
    float: left;
    display: block;
}

.chatBox ul li span.alt{
        background: #F4ABAA;
    display: inline-block;
    float: right!important;
    margin-left: 50px!important;
    color: #BC5554;
}

.chatBox .chatFooter{
    position: absolute;
    width: 100%;
       bottom: 67px;
    height: 70px;

}

.chatBox .chatFooter .triggers{
    position: absolute;
    right: 0;
    padding: 1em;
    border-left: 1px solid #ccc;
        pointer-events: all;
    z-index: 1;
}
.chatBox .chatFooter textarea{
        border: 1px solid #ccc;
    position: relative;
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
    -moz-box-shadow: 0 0 7px -3px #D8D8D8;
    -webkit-box-shadow: 0 0 7px -3px #D8D8D8;
    box-shadow: 0 0 7px -3px #D8D8D8;
    padding-right: 80px;
    resize: none;
    padding: 1em;
    height: 70px;
        padding-right: 3em;

}

#rateModal{
        opacity: 1;
    background: rgba(0, 0, 0, 0.73);
}

#rateModal h4{
    text-align: center;
    color:#fff;
}

#rateModal button,
#rateModal button a{
        border: none;
    background: transparent;

    color: #fff;
    border-radius: 2px;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 500;
    width: 49%;
    text-align: center;
}




.notifcount{
  background: red;
    font-size: 16px;
    position: absolute;
    top: 0;
    border-radius: 6px;
    padding: 2px 4px;
    color: #fff;
    font-family: Roboto;
    font-weight: 600;
}

.bottomNotification{
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    z-index: 996;
    margin: 1em;
    padding: 5px 15px;
    background: rgb(244,244,244);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(244, 244, 244, 0.94) 0%, rgba(255, 255, 255, 0.82) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(244, 244, 244, 0.94) 0%,rgba(255, 255, 255, 0.82) 100%);
    background: -o-linear-gradient(top, rgba(244, 244, 244, 0.94) 0%,rgba(255, 255, 255, 0.82) 100%);
    background: -ms-linear-gradient(top, rgba(244, 244, 244, 0.94) 0%,rgba(255, 255, 255, 0.82) 100%);
    background: linear-gradient(to bottom, rgba(244, 244, 244, 0.94) 0%,rgba(255, 255, 255, 0.82) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 );
}

.bottomNotification .notifCounter{
    position: relative;
    display: inline-block;
    float: right;
}

.bottomNotification li{
    display: inline-block;
}

.follow_up{
    display: none;
}
#selectCasino{
        text-align: center;
}
#selectCasino li{
        width: 31%;
        display: inline-block;
}



#selectCasino li img{
       width: 95%;
    margin: auto;
    display: block;
}

#selectCasino li:first-child:nth-last-child(1) {
    width: 50%;
}

#selectCasino li:first-child:nth-last-child(2),
#selectCasino li:first-child:nth-last-child(2) ~ li {
    width: 48%;
}

#selectCasino li:first-child:nth-last-child(3),
#selectCasino li:first-child:nth-last-child(3) ~ li {
      width: 30%;
}

#selectCasino li:first-child:nth-last-child(4),
#selectCasino li:first-child:nth-last-child(4) ~ li {
       width: 48%;
}

/* .userDetail .imgContainer{
position: relative;
    background: rgba(190, 19, 19, 0.92);
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 30px;
        text-align: center;
}

.userDetail .imgContainer #viewFriendProfileName{
    font-family: 'Work Sans';
    font-size: 22px;
    margin: 0 0 15px 0;
    padding-bottom: 30px;
    color: #F9F9F9;
    font-weight: 600;
    text-shadow: 0px 1px 2px rgb(128, 10, 10);
}
.userDetail .imgContainer .msgImgcont{
        width: 150px;
    height: 150px;
    float: none;
    display: block;
    margin:auto;
    margin-bottom: 9px;
        overflow: hidden;
    margin: 0 auto 8px auto;
    -moz-box-shadow: 0 0 10px -2px #616161;
    -webkit-box-shadow: 0 0 10px -2px #616161;
    box-shadow: 0 0 10px -2px #616161;
    border-radius: 50%;
}

.userDetail .imgContainer .msgImgcont img{
    width:100%;
}

.userDetail p{
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto;
    color: #9C9C9C;
    text-align: left;
    padding-left: 10px;
}

.userDetail ul{
        margin-right: 28px;
    text-align: left;
    padding: 0 10px;
}

.userDetail ul li, .friendProfile ul li a {
    display: inline-block;
}
.userDetail ul li a img{
        width: 37px;
    border: none;
    box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 10px -6px #000;
    -webkit-box-shadow: 0 0 10px -6px #000;
    box-shadow: 0 0 10px -6px #000;
    border-radius: 50%;
}

.pageLoading{
        position: absolute;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background: #fff;
}

.pageLoading .preloaderContainer{
        margin: auto;
}
.pageLoading .preloaderContainer .preloader-wrapper{
        display: block;
    margin: auto;
    margin-top: 50%;
}

.homeButtonNav img{
    width:100%;
}

.userDetail .imgContainer a.messageButton {
    text-decoration: none;
    background: #F16565;
    cursor: pointer;
    color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    font-size: 20px;
    bottom: -17px;
    -moz-box-shadow: 0 0 10px -6px #000;
    -webkit-box-shadow: 0 0 10px -6px #000;
    box-shadow: 0 0 10px -6px #000;
    margin-right: -30px;
    right: 60px;
}

#profileBtn{
        position: absolute;
    bottom: -13px;
    left: 20px;
}

#profileBtn button{
    border-radius: 50px;
    background: #FF8315;
    border: none;
    padding: 8px 22px;
    color: #fff;
    font-family: Roboto;
    font-weight: 600;
    cursor: pointer;
} */
